<div class="banner">
    <div class="container text-center d-flex justify-content-center align-middle">
      <%= image_tag "logo.png", class: "img-large"%>
      <h1 class="font-weight-bold"><span id="banner-typed-text"></span> Cocktails</h1>
    </div>
</div>
<div class="container pb-3">
  <h1 class="font-weight-bold text-center p-3">All our Cocktails</h1>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-4">
        <%= link_to cocktail_path(cocktail) do %>
          <div class='card m-1 p-5 card-rounded' style="background-image: url(<%= cocktail.picture_url %>)">
            <h2 class="hide-p p-3"><%= cocktail.name %> </h2>
            <% if cocktail.reviews != [] %>
              <% sum = 0 %>
              <% cocktail.reviews.each do |review| %>
                <% sum += review.rating %>
              <% end %>
              <div class="d-flex justify-content-center pt-3">
                <% med_rating = sum / cocktail.reviews.count %>
                <% for i in 0...med_rating  %>
                  <i class="fas fa-star"></i>
                <% end %>
              </div>
              <p class="hide-p pb-3">(<%= cocktail.reviews.count %> votes)</p>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

