<div class="banner" style="background-image: url('<%= cl_image_path @cocktail.photo.key, crop: :fill %>')">

  <div class="container text-center d-flex justify-content-center align-middle">
    <h1 class="font-weight-bold"><%= @cocktail.name %></h1>
    <%= link_to edit_cocktail_path(@cocktail), class: "btn text-primary p-0" do %>
      <i class="fas fa-edit"></i>
    <% end %>
    <%= button_to cocktail_path(@cocktail), method: :delete, data: { confirm: "Are you sure?" }, class: "btn text-primary p-0" do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </div>

</div>

<div class="container w-100 justify-content-center margin-top-negative">
  <div class="d-flex justify-content-between">
    <div class="m-3 show-left flex-grow-1">
      <div class="card-border p-3 h-100">
        <h2>What do you need to make this cocktail?</h2>
        <div>
        <% @cocktail.doses.each do |dose| %>
          <div class="d-flex">
            <p class="mr-1">- <%= dose.description %> of <%= dose.ingredient.name %></p>
            <%= button_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" }, class: "btn text-primary" do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </div>
        <% end %>
        </div>
      </div>

    </div>

    <div class="m-3">
      <div class="card-border p-3 card-font">
        <p>Add Ingredients!</p>
        <%= simple_form_for [ @cocktail, @dose ] do |f| %>
          <%= f.association :ingredient, input_html: { class: 'select2' }  %>
          <!-- <%= f.input :ingredient, collection: Ingredient.all { |mem, var|  }, input_html: {multiple: true, class: 'multiple-select'} %> -->
          <%= f.input :description %>
          <%= f.submit "Add Ingredient", class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
  <div>
    <div class="m-3">
      <h2>Reviews!</h2>
        <% @cocktail.reviews.each do |review| %>
        <div class='d-flex'>
          <% for i in 0...review.rating  %>
            <i class="fas fa-star"></i>
          <% end %>
          <p><%= review.description %> </p>
        </div>
      <% end %>
      <h3>Add a review</h3>
      <%= simple_form_for [ @cocktail, @review ] do |f| %>
        <%= f.input :description %>
        <%= f.input :rating %>
        <%= f.submit "Create Review", class: 'btn btn-primary' %>
      <% end %>
      <%= link_to "Back to all cocktail list", cocktails_path, class: 'mt-3'%>
    </div>
  </div>

</div>
<!-- <div id="typed-strings">
  <p>Typed.js is a <strong>JavaScript</strong> library.</p>
  <p>It <em>types</em> out sentences.</p>
</div>
<span id="typed"></span>
 -->
