<div class="navbar navbar-expand-sm navbar-light navbar-lewagon align-items-center fixed-top">
  <%= link_to cocktails_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png", class: "image" %>
  <% end %>
  <div class="d-flex justify-content-left align-items-center">
    <form id="form_id" class="form-inline my-2 my-lg-0" action=<%= cocktails_path %> method="get">
      <input class="form-control mr-sm-2 input" name="query" type="search" placeholder="Search" aria-label="Search" value="<%= params[:query] %>">
      <button class="btn btn-outline-success my-2 my-sm-0 button" type="submit">Search</button>
    </form>
    <%= link_to "Add a New Cocktail", new_cocktail_path, class: 'btn btn-outline-primary align-middle h-75 ml-2 button'%>
  </div>
</div>
